XML/PTZ.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="PTZSettings">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" name="Camera">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="CommandURL" type="xs:string" />
                            <xs:element name="Commands">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="Center" type="xs:string" />
                                        <xs:element name="Left" type="xs:string" />
                                        <xs:element name="LeftUp" type="xs:string" />
                                        <xs:element name="Right" type="xs:string" />
                                        <xs:element name="RightUp" type="xs:string" />
                                        <xs:element name="Up" type="xs:string" />
                                        <xs:element name="Down" type="xs:string" />
                                        <xs:element name="LeftDown" type="xs:string" />
                                        <xs:element name="RightDown" type="xs:string" />
                                        <xs:element name="Stop" type="xs:string" />
                                        <xs:element name="ZoomIn" type="xs:string" />
                                        <xs:element name="ZoomOut" type="xs:string" />
                                        <xs:element name="ExtendedCommands">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element maxOccurs="unbounded" name="Command">
                                                        <xs:complexType>
                                                            <xs:simpleContent>
                                                                <xs:extension base="xs:string">
                                                                    <xs:attribute name="Name" type="xs:string" use="required" />
                                                                </xs:extension>
                                                            </xs:simpleContent>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                        <xs:attribute name="Make" type="xs:string" use="required" />
                        <xs:attribute name="Version" type="xs:string" use="required" />
                        <xs:attribute name="id" type="xs:unsignedByte" use="required" />
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>